@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.wrapper-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: rgb(0, 0, 34) solid 1px;
    margin: 2em;

}

.wrapper-navbar h2 {
    font-size: 2em;
    font-family: 'Just Another Hand', cursive;
}

.wrapper-navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;

}

.wrapper-navbar ul li a{    
    text-decoration: none;
    font-size: 1em;
    color: black;
}

.wrapper-navbar ul li a:hover {
    color: rgb(92, 5, 5);
}

span{
    font-weight: 600;
}